<br>
<h3>Messungen</h3>
<br>
<div class="row">

  <div class="col l6 m6 s12">
    <div class="black-text">
      <div class="row">
        <div class="col s4 m4 l3 center-align pink-text">
          <i class="material-icons medium">help</i>
        </div>
        <div class="col s8 m8 l9">
          <h5>Viele Fragetypen</h5>
          <p>Häufigkeit, Ja/Nein, Bewertung.</p><br>
        </div>
      </div>
    </div>
  </div>

  <div class="col l6 m6 s12">
    <div class="black-text">
      <div class="row">
        <div class="col s4 m4 l3 center-align pink-text">
          <i class="material-icons medium">my_location</i>
        </div>
        <div class="col s8 m8 l9">
          <h5>Standortaufnahme</h5>
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col l6 m6 s12">
    <div class="black-text">
      <div class="row">
        <div class="col s4 m4 l3 center-align pink-text">
          <i class="material-icons medium">hearing</i>
        </div>
        <div class="col s8 m8 l9">
          <h5>Geräuschmessung</h5>
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Trigger -->
<div class="divider"></div>
<h3>Trigger</h3>
<br>
<div class="row">


  <div class="col l6 m6 s12">
    <div class="black-text">
      <div class="row">
        <div class="col s4 m4 l3 center-align pink-text">
          <i class="material-icons medium">watch_later</i>
        </div>
        <div class="col s8 m8 l9">
          <h5>Random Time Trigger</h5>
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col l6 m6 s12">
    <div class="black-text">
      <div class="row">
        <div class="col s4 m4 l3 center-align pink-text">
          <i class="material-icons medium">place</i>
        </div>
        <div class="col s8 m8 l9">
          <h5>Location Trigger</h5>
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col l6 m6 s12">
    <div class="black-text">
      <div class="row">
        <div class="col s4 m4 l3 center-align pink-text">
          <i class="material-icons medium">group</i>
        </div>
        <div class="col s8 m8 l9">
          <h5>Social Trigger</h5>
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col l6 m6 s12">
    <div class="black-text">
      <div class="row">
        <div class="col s4 m4 l3 center-align pink-text">
          <i class="material-icons medium">favorite</i>
        </div>
        <div class="col s8 m8 l9">
          <h5>Health Trigger</h5>
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col l6 m6 s12">
    <div class="black-text">
      <div class="row">
        <div class="col s4 m4 l3 center-align pink-text">
          <i class="material-icons medium">power</i>
        </div>
        <div class="col s8 m8 l9">
          <h5>Externer Trigger</h5>
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
      </div>
    </div>
  </div>

</div>
