* {
  background: lightblue;
}
$primary-color: color("materialize-blue", "lighten-2") !default;
$primary-color-light: false !default;
$primary-color-dark: false !default;
@if not $primary-color-light {
  $primary-color-light: lighten($primary-color, 15%);
}
@if not $primary-color-dark {
  $primary-color-dark: darken($primary-color, 15%);
}
$secondary-color: color("purple", "lighten-1") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;

$link-color: color("light-blue", "darken-1") !default;

/*
$md-font-url: "node_modules/ng2-material/dist/";
@import "node_modules/ng2-material/dist/font";
@import "node_modules/ng2-material/source/core";
$md-primary: md-palette($md-brown, 500, 100, 700, $md-contrast-palettes);
$md-accent: md-palette($md-deep-orange, 500, 300, 700, $md-contrast-palettes);
@import "node_modules/ng2-material/source/components";
*/

