<br>
<!-- Loading Spinner -->
<loading-spinner [smTrigger]="showLoadingSpinner"></loading-spinner>

<div class="row" *ngIf="!showLoadingSpinner">
  <div class="col s12">
    <h3 class="grey-text text-darken-1">{{project.name}}</h3>
    <div class="row">
      <div class="col s6 grey-text text-darken-1">
        Start: {{project.createdDate | date:'longDate'}}
      </div>
      <div class="col s4" *ngIf="!showLoadingSpinner && project && (project.measures.length === 0 || project.triggers.length === 0)">

        <div class="help-image-task1">
          <img src="../../../assets/images/task1.png" class="help-image" *ngIf="project.triggers.length === 0" />
          <img src="../../../assets/images/task1_stroked.png" class="help-image" *ngIf="project.triggers.length > 0" />
        </div>
        <div class="help-image-task2">
          <img src="../../../assets/images/task2.png" class="help-image" *ngIf="project.measures.length === 0" />
          <img src="../../../assets/images/task2_stroked.png" class="help-image" *ngIf="project.measures.length > 0" />
        </div>
      </div>

    </div>
    <br>
  </div>

  <div class="col s12">
    <ul class="tabs grey lighten-3" materialize="tabs">
      <li class="tab col s4"><a href="#triggers">Trigger</a></li>
      <li class="tab col s4"><a href="#measures">Messungen</a></li>
      <li class="tab col s4"><a href="#statistics">Statistiken</a></li>
    </ul>
  </div>
  <div id="measures" class="col s12">
    <br>
    <div>

      <!-- Add new Measure -->
      <div class="row">
        <div class="col s12">
          <measure-modal [smProject]="project" (smChanged)="refreshProject()"></measure-modal>
        </div>
      </div>
      <div class="row">
        <div *ngFor="#measure of project.measures" class="col s12 m6 l6">
          <div class="card">
            <div class="card-content">

              <!--<span class="badge new">{{'measureType_' + measure.type | translate}}</span>-->
              <i class="medium material-icons">{{getIconByType(measure.type)}}</i>

              <span class="grey-text right" *ngIf="measure.trigger">
                 <i class="right material-icons">{{getIconByType(getTriggerById(measure.trigger).type)}}</i> {{getTriggerById(measure.trigger).alias}}
              </span>

              <div class="card-title">{{measure.alias}}
                <span class="pink-text right text-darken-1" style="font-size: small"> {{'measureType_' + measure.type | translate}}</span>
              </div>

              <p class="grey-text measure-text" *ngIf="measure.text">
                <i class="left material-icons">help</i>
                {{measure.text}}
              </p>
              &nbsp;
              <p class="grey-text" *ngIf="measure.values && measure.values.length > 0">
                <i class="left material-icons">feedback</i>
                <span>{{getMeasureValues(measure.values)}}</span>
              </p>


            </div>


            <div class="card-reveal">
          <span class="card-title grey-text text-darken-4" (click)="saveData(measure)">{{measure.menu}}<i
            class="material-icons right">close</i></span>
              <!-- Bearbeiten -->
              <div *ngIf="measure.menu === 'Bearbeiten'">
                <br>
                <button materialize="dropdown"
                        [materializeParams]="[{constrainwidth: false}]"
                        class="dropdown-button btn"
                        [attr.data-activates]="measure.id"><i
                  class="left material-icons">{{getIconByType(measure.type)}}</i>{{measure.type}}
                </button>
                <ul id="{{measure.id}}" class="dropdown-content">
                  <li><a (click)="measure.type = 'Ja / Nein'"><i class="left material-icons">help_outline</i>Ja /
                    Nein</a>
                  </li>
                  <li><a (click)="measure.type = 'Häufigkeit'"><i class="left material-icons">help_outline</i>Häufigkeit</a>
                  </li>
                  <li><a (click)="measure.type = 'Bewertung'"><i
                    class="left material-icons">help_outline</i>Bewertung</a>
                  </li>
                  <li class="divider"></li>
                  <li><a (click)="measure.type = 'Lautstärke'"><i class="left material-icons">hearing</i>Lautstärke</a>
                  </li>
                  <li><a (click)="measure.type = 'Lokalisierung'"><i class="left material-icons">place</i>Lokalisierung</a>
                  </li>
                </ul>
                <p></p>
                <div class="input-field col s12">
                  <i class="material-icons prefix">help</i>
                  <input [(ngModel)]="measure.text" id="icon_prefix" type="text" class="validate">
                  <label class="active" for="icon_prefix">Frage</label>
                </div>
                <div class="center-align">
                  <div *ngFor="#value of measure.answerValues" class="chip">
                    {{value}}
                    <i class="material-icons">close</i>
                  </div>
                  &nbsp;
                </div>

              </div>
              <!-- Regeln -->
              <div *ngIf="measure.menu === 'Regeln'">
                <table>
                  <thead>
                  <tr>
                    <th data-field="id" class="center-align"><i class="material-icons">first_page</i></th>
                    <th data-field="name" class="center-align"><i class="material-icons">last_page</i></th>
                    <th data-field="price" class="center-align"><i class="material-icons">replay</i></th>
                  </tr>
                  </thead>

                  <tbody>
                  <tr *ngFor="#trigger of measure.triggers">
                    <td class="center-align">
                      {{trigger.begin}} Uhr
                      <div class="range-field">
                        <input type="range" min="0" max="{{trigger.end}}" [(ngModel)]="trigger.begin"/>
                      </div>
                    </td>
                    <td class=center-align>
                      {{trigger.end}} Uhr
                      <div class="range-field">
                        <input type="range" min="{{trigger.begin}}" max="24" [(ngModel)]="trigger.end"/>
                      </div>
                    </td>
                    <td class="center-align">
                      {{trigger.repeats}} mal
                      <div class="range-field">
                        <input type="range" min="0" max="10" [(ngModel)]="trigger.repeats"/>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- Statistiken -->
              <div *ngIf="measure.menu === 'Statistiken'" class="valign-wrapper">
                <img src="../../../assets/images/chart.png" class="valign center-align"/>
              </div>


            </div>

            <div class="card-action">
              <a class="btn-floating measure-detail btn-large waves-effect waves-light "
                 (click)="navigateToMeasure(measure._id)">
                <i class="material-icons">mode_edit</i>
              </a>

              <button class="btn-flat activator" (click)="measure.menu = 'Statistiken'">
                Auslösen
              </button>
              <button class="btn-flat activator" (click)="measure.menu = 'Statistiken'">
                Löschen
              </button>
            </div>

          </div>
        </div>
        <div *ngIf="!showLoadingSpinner && project && project.measures.length === 0"
             class="help-image-trigger-wrapper">
          <img src="../../../assets/images/help_measure.png" class="help-image-trigger" />
        </div>
      </div>
    </div>


  </div>
  <div id="triggers" class="col s12">
    <div class="row">
      <div class="col s12">
        <br>
        <trigger-modal [smProject]="project" (smChanged)="refreshProject()"></trigger-modal>
      </div>
    </div>
    <div class="row">
      <div *ngFor="#trigger of project.triggers" class="col s12 m6 l6">
        <div class="card">
          <div class="card-content">
            <!--
            <span class="grey-text right">
                 <i class="right material-icons">{{getIconByType(getTriggerById(measure.trigger).type)}}</i> {{getTriggerById(trigger.trigger).alias}}
              </span>
-->
            <i class="medium material-icons">{{getIconByType(trigger.type)}}</i>

            <div class="card-title">{{trigger.alias}}
              <span class="pink-text right text-darken-1" style="font-size: small">
                {{'triggerType_' + trigger.type | translate}}</span>
            </div>

            <div class="measure-text" *ngIf="trigger.type === 'random' || trigger.type === 'place' || trigger.type === 'social' || trigger.tpye === 'health'">
              <div *ngFor="#cron of getDecodedTimeSpans(trigger)">
                <p  class="grey-text">
                  <i class="left material-icons">alarm</i>
                  {{cron.repeats}} mal von {{cron.begin}} bis {{cron.end}} Uhr
                </p>
                &nbsp;
              </div>
            </div>



          </div>

          <div class="card-action">
            <a class="btn-floating measure-detail btn-large waves-effect waves-light "
               (click)="navigateToTrigger(trigger._id)">
              <i class="material-icons">mode_edit</i>
            </a>

            <button class="btn-flat activator" (click)="measure.menu = 'Statistiken'">
              Auslösen
            </button>
            <button class="btn-flat activator" (click)="measure.menu = 'Statistiken'">
              Löschen
            </button>
          </div>
        </div>
      </div>
      <div class="help-image-trigger-wrapper" *ngIf="!showLoadingSpinner && project && project.triggers.length === 0">
        <img src="../../../assets/images/help_trigger.png" class="help-image-trigger" />
      </div>
    </div>
  </div>
  <div id="statistics" class="col s12">
    <div class="help-image-statistics-wrapper">
      <img src="../../../assets/images/nothing.png" class="help-image-statistics" />
    </div>
  </div>
</div>

