<!-- Loading Spinner -->
<div class="center-align" *ngIf="showLoadingSpinner">
  <br><br><br>
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-purple-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!showLoadingSpinner">
  <h3>{{project.name}}</h3>
  <h6>{{project.created}}</h6>
  <!-- Add new project -->
  <div class="row">
    <div class="col s12">
      <button materialize="leanModal" [materializeParams]="modalParams" (click)="tempMeasure = newMeasure;"
              class="waves-effect waves-light btn modal-trigger right" data-target="createMeasure">
        <i class="material-icons left">add</i> Messung
      </button>
    </div>
  </div>
  <div class="row">
    <div *ngFor="#measure of project.measures" class="col s12 m6 l6">
      <div class="card">
        <div class="card-content">
          <div class="switch right">
            <label>
              Inaktiv
              <input type="checkbox" checked>
              <span class="lever"></span>
              Aktiv
            </label>
          </div>
          <span class="card-title"></span>
          <i class="medium material-icons">{{getIconByType(measure.type)}}</i>
          <h5 class="purple-text accent-4">{{measure.text}}</h5>
          <p><span class="badge new">{{getAnswerCount(measure)}} Antwort{{getAnswerCount(measure) === 1 ? '' : 'en'}}</span></p>
          <p class="grey-text">{{measure.type}} - {{measure.values}}</p>
          <p *ngFor="#rule of measure.rules">
            {{rule.repeats}} mal zwischen {{rule.begin}} und {{rule.end}} Uhr
          </p>

        </div>


        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4" (click)="saveData(measure)">{{measure.menu}}<i
            class="material-icons right">close</i></span>
          <!-- Bearbeiten -->
          <div *ngIf="measure.menu === 'Bearbeiten'">
            <br>
            <button materialize="dropdown"
                    [materializeParams]="[{constrainwidth: false}]"
                    class="dropdown-button btn"
                    [attr.data-activates]="measure.id"><i
              class="left material-icons">{{getIconByType(measure.type)}}</i>{{measure.type}}
            </button>
            <ul id="{{measure.id}}" class="dropdown-content">
              <li><a (click)="measure.type = 'Ja / Nein'"><i class="left material-icons">help_outline</i>Ja / Nein</a>
              </li>
              <li><a (click)="measure.type = 'Häufigkeit'"><i class="left material-icons">help_outline</i>Häufigkeit</a>
              </li>
              <li><a (click)="measure.type = 'Bewertung'"><i class="left material-icons">help_outline</i>Bewertung</a>
              </li>
              <li class="divider"></li>
              <li><a (click)="measure.type = 'Lautstärke'"><i class="left material-icons">hearing</i>Lautstärke</a></li>
              <li><a (click)="measure.type = 'Lokalisierung'"><i class="left material-icons">place</i>Lokalisierung</a>
              </li>
            </ul>
            <p></p>
            <div class="input-field col s12">
              <i class="material-icons prefix">help</i>
              <input [(ngModel)]="measure.text" id="icon_prefix" type="text" class="validate">
              <label class="active" for="icon_prefix">Frage</label>
            </div>
            <div class="center-align">
              <div *ngFor="#value of measure.answerValues" class="chip">
                {{value}}
                <i class="material-icons">close</i>
              </div>
              &nbsp;
            </div>

          </div>
          <!-- Regeln -->
          <div *ngIf="measure.menu === 'Regeln'">
            <table>
              <thead>
              <tr>
                <th data-field="id" class="center-align"><i class="material-icons">first_page</i></th>
                <th data-field="name" class="center-align"><i class="material-icons">last_page</i></th>
                <th data-field="price" class="center-align"><i class="material-icons">replay</i></th>
              </tr>
              </thead>

              <tbody>
              <tr *ngFor="#rule of measure.rules">
                <td class="center-align">
                  {{rule.begin}} Uhr
                  <div class="range-field">
                    <input type="range" min="0" max="{{rule.end}}" [(ngModel)]="rule.begin"/>
                  </div>
                </td>
                <td class=center-align>
                  {{rule.end}} Uhr
                  <div class="range-field">
                    <input type="range" min="{{rule.begin}}" max="24" [(ngModel)]="rule.end"/>
                  </div>
                </td>
                <td class="center-align">
                  {{rule.repeats}} mal
                  <div class="range-field">
                    <input type="range" min="0" max="10" [(ngModel)]="rule.repeats"/>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- Statistiken -->
          <div *ngIf="measure.menu === 'Statistiken'" class="valign-wrapper">
            <img src="../../../assets/images/chart.png" class="valign center-align"/>
          </div>


        </div>

        <div class="card-action">
          <button materialize="leanModal"
                  [materializeParams]="modalParams"
                  (click)="measure.menu = 'Bearbeiten'; tempMeasure = measure;"
                  class="btn-flat" data-target="createMeasure">
            <i class="material-icons">build</i>
          </button>

          <!--<button class="btn-flat activator" (click)="measure.menu = 'Regeln'"><i class="large material-icons">watch_later</i>
          </button>-->
          <button class="btn-flat activator" (click)="measure.menu = 'Statistiken'"><i class="material-icons">equalizer</i>
          </button>
          <button class="btn-flat activator" (click)="measure.menu = 'Statistiken'"><i class="material-icons">group</i>
          </button>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- New measure modal -->
<div id="createMeasure" class="modal" *ngIf="tempMeasure">
  <div class="modal-content">
    <h4 class="purple-text">
      <i class="left medium material-icons" style="font-size: 35px">{{getIconByType(tempMeasure.type)}}</i>
      <span>{{ tempMeasure._id ? 'Messung bearbeiten' : 'Neue Messung' }}</span>
    </h4>
    <div class="row">
      <div class="input-field col s12 m12 l12">
        <button materialize="dropdown"
                [materializeParams]="[{constrainwidth: true}]"
                class="dropdown-button btn right"
                [attr.data-activates]="'myMeasure'">
          <i class="left material-icons">{{getIconByType(tempMeasure.type)}}</i>{{tempMeasure.type}}
        </button>
        <ul id="myMeasure" class="dropdown-content">
          <li><a (click)="tempMeasure.type = 'Ja / Nein '"><i class="left material-icons">help_outline</i>Ja / Nein </a>
          </li>
          <li><a (click)="tempMeasure.type = 'Häufigkeit'"><i class="left material-icons">help_outline</i>Häufigkeit</a>
          </li>
          <li><a (click)="tempMeasure.type = 'Bewertung '"><i class="left material-icons">help_outline</i>Bewertung </a>
          </li>
          <li class="divider"></li>
          <li><a (click)="tempMeasure.type = 'Lautstärke'"><i class="left material-icons">hearing</i>Lautstärke</a></li>
          <li><a (click)="tempMeasure.type = 'Standort  '"><i class="left material-icons">place</i>Standort </a></li>
        </ul>
      </div>
      <div class="input-field col s12 m12 l12">
        <!--<i class="material-icons prefix">assessment</i>-->
        <input id="name" type="text" class="validate" [(ngModel)]="tempMeasure.text" autofocus>
        <label for="name">Fragetext eingeben</label>
      </div>
      <div class="col s12 m12 l12">
        <div class="center-align">
          <span *ngFor="#value of tempMeasure.values">
           <div class="chip" (click)="removeAnswer(value)" style="cursor: pointer">
             {{value}}
             <i class="material-icons right">clear</i>
           </div>
          &nbsp;
          </span>
        </div>
        <form class="row">
          <div class="input-field col s10 m10 l10">
            <input id="newValue" type="text" class="validate" [(ngModel)]="newValue">
            <label for="newValue">Antwort eingeben + ENTER</label>
          </div>
          <!--<i class="material-icons prefix">code</i>-->
          <div class="input-field col s2 m2 l2">
            <button type="submit" class="btn waves-effect waves-light left" (click)="addAnswer()"><i
              class="material-icons">add</i></button>
          </div>
        </form>
      </div>
      <table>
        <thead>
        <tr>
          <th data-field="id" class="center-align"><i class="material-icons">first_page</i></th>
          <th data-field="name" class="center-align"><i class="material-icons">last_page</i></th>
          <th data-field="price" class="center-align"><i class="material-icons">replay</i></th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="#rule of tempMeasure.rules">
          <td class="center-align">
            {{rule.begin}} Uhr
            <div class="range-field">
              <input type="range" min="0" max="{{rule.end}}" [(ngModel)]="rule.begin" (change)="rule.begin = $event.target.value"/>
            </div>
          </td>
          <td class=center-align>
            {{rule.end}} Uhr
            <div class="range-field">
              <input type="range" min="{{rule.begin}}" max="24" [(ngModel)]="rule.end" (change)="rule.end = $event.target.value"/>
            </div>
          </td>
          <td class="center-align">
            {{rule.repeats}} mal
            <div class="range-field">
              <input type="range" min="0" max="10" [(ngModel)]="rule.repeats" (change)="rule.repeats = $event.target.value"/>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <!--
      <div class="col s12 m12 l6">
        <div class="file-field input-field">

          <div class="btn">
            <span>File</span>
            <input type="file" [(ngModel)]="newProject.imageUrl">
          </div>

          <div class="file-path-wrapper">
            <input class="file-path validate"
                   type="text"
                   placeholder="Eigenes Projektbild hochladen (optional)"
                   [(ngModel)]="newProject.imageUrl">
          </div>

        </div>
      </div>
      -->
    </div>
  </div>
  <div class="modal-footer">
    <button class="modal-action modal-close waves-effect waves-light btn" (click)="saveMeasure(tempMeasure)">
      {{ tempMeasure._id ? 'Speichern' : 'Erstellen' }}
    </button>
    &nbsp;
    <button class="modal-action modal-close waves-effect waves-purple btn-flat">Abbrechen</button>
  </div>
</div>

<!--
<base-chart class="chart"
            [data]="doughnutChartData"
            [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></base-chart>
            -->
<!--
<div class="row">
  <div class="col s12">
    <ul materialize="tabs" [materializeParams]="tabSelectionParams" class="tabs">
      <li [class]="'tab col s3' + (tab.disabled?' disabled':'')" *ngFor="#tab of tabs">
        <a [href]="'#'+tab.route" (click)="$event.preventDefault();routeTo(tab.route)">{{tab.name}}</a>
      </li>
    </ul>
  </div>
  <br/>
  <router-outlet></router-outlet>
</div>
-->
